{% extends "layout.html" %}

{% block title %}Templo Pai Benedito das Almas e Obaluaê{% endblock %}

{% block content %}
    <div class="h-100 d-flex flex-column justify-content-center align-items-center">
        
        <div class="text-center p-5 hero-section">
            
            <h1 class="display-4 fw-bold">
                <span class="leaf-emoji">🌿</span> Templo Pai Benedito das Almas e Obaluaê
            </h1>
            
            <p class="lead mt-4" style="font-size: 1.5rem; color: var(--cor-texto-principal);">
                Sabedoria, caridade e força caminham lado a lado.
            </p>
            
            <p class="fs-5" style="color: var(--cor-texto-secundario);">
                Seu portal para pontos, agenda oficial e informações do nosso axé.
            </p>

        </div>

    </div>
{% endblock %}
